h1 {
    font-weight: $bold;
    font-size: 3rem;
}

h2 {
    font-weight: $medium;
    font-size: 2.25rem;
}

h3 {
    font-weight: $medium;
    font-size: 1.5rem;
}

h4 {
    font-weight: $medium;
    font-size: 1.125rem;
}

h5 {
    font-weight: $medium;
    font-size: 0.875rem;
}

h6 {
    font-weight: $medium;
    font-size: 0.75rem;
}

a {
    display: inline-block;
    color: $primary;
    text-decoration: none;
    transition: all .25s ease-in-out;

    &:hover {
        color: darken($primary, 25%)
    }
}

.text-center {
    text-align: center;
}
