/* Colors */
$primary = #009ad3;
$secondary = #8855a7;
$background = #F7F9FC;

$cerulean = #009ad3;
$atlantis = #8ac341;
$carmine = #f4333e;
$purple = #8855a7;
$yellow = #f6d270;
$bluegrey = #6e95a0;
$seablue = #066d89;
$bluegreen = #108daf;
$mist = #b1c1c5;
$hawkesblue = #d5dfee;
$lightgrey = #999999;
$gray = #4a4a4a;
$darkgray = #333333;
$alabaster = #fafafa;

$white = #fff;
$gray-100 = #f1f2f7;
$gray-200 = #d1d3dd;
$gray-300 = #b9bcc6;
$gray-400 = #8d919a;
$gray-500 = #6e717a;
$gray-600 = #5a5e69;
$gray-700 = #444952;
$gray-800 = #30343c;
$gray-900 = #1f2228;
$gray-1000 = #090a0d;
$black = #000;


/* Typography */
$sans = -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
$mono = "Source Code Pro", monospace;
$heading-color = $gray-800;
$body-color = $gray;
$anchor-color = $primary;
$light = 300;
$regular = 400;
$medium = 500;
$bold = 700;
$font-base = 1rem;

/* Settings */
$gutter = 16px;
$card-border-radius = 4px;
$card-box-shadow = 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
$fab-box-shadow = 0 0px 6px 0 rgba(0,0,0,0.12), 0 6px 10px 0 rgba(0,0,0,0.16);

/* Media Breakpoints */
$tablet-portrait = 600px;
$tablet-landscape = 900px;
$desktop = 1200px;
